<!DOCTYPE html>

<html>
    <head>
        <title>CREATE STORY</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/edit_add.css">
    </head>

    <body>
        <form action="/create" method="POST">
            <input type="text" name="New_title" placeholder="Story Title">
            <textarea name="New_story" placeholder="Add to the story here..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>