<!DOCTYPE html>

<html>
    <head>
        <title>ADD TO STORY</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/edit_add.css">
    </head>

    <body>
        <h1>{{title}}</h1> <!--title of the story-->
        <p>{{Most_recent|safe}}</p> <!--Most recent is just the most recent addition to the story-->
        <form action="/edit" method="POST">
            <textarea name="addition" placeholder="Add to the story here..."></textarea>
            <input type="hidden" name="story_id" value={{story_id}}>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>