<!DOCTYPE html>

<html>
    <head>
        <title>HOME PAGE</title>
    </head>

    <body>
        <nav>
            <a href="index.html">Home</a>
            <a href="#Collaborated_on">You've Collaborated On</a>
            <a href="#Existing_stories">Existing Stories</a>
            <form action="/logout">
                <button type="submit">Logout</button>
            </form>
        </nav>
        <form action="/create_go">
            <button type="submit">Add Story</button>
        </form>
        <h1 id="Collaborated_on">You've Collaborated On</h1>
        <!--Display stories that have been edited by this specific user here-->
            {% for key in collaborated %}
                <h2> {{ collaborated.get(key)[0] }} </h2>
                <p> {{ collaborated.get(key)[1]|safe }} </p>
            {% endfor %}
            
        <h1 id="Existing_stories">Existing Stories</h1>
        <!--Display stories that have not been edited by the user here-->
            {% for key in existing %}
                <h2> {{ existing.get(key)[0] }} </h2> 
                    <form action="/edit">
                        <button type="submit">edit</button>
                        <input type="hidden" name="story_id" value="{{key}}">
                    </form>
                <p> {{ existing.get(key)[1]|safe }} </p> 
            {% endfor %}
            
        <p>Logged in As: {{USER}}</p>
    </body>
</html>