<!DOCTYPE html>

<html>
    <head>
        <title>HOME PAGE</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>

    <body>
        <nav>
            <a href="#Collaborated_on">You've Collaborated On</a>
            <a href="#Existing_stories">Existing Stories</a>
            <form action="/logout">
                <button type="submit" id="logout">Logout</button>
            </form>
        </nav>
        <p id="first">Logged in As: {{USER}}</p>
        <form action="/create_go">
            <button type="submit">Add Story</button>
        </form>
        <h1 id="Collaborated_on">You've Collaborated On</h1>
        <!--Display stories that have been edited by this specific user here-->
            {% for key in collaborated %}
                <h2> {{ collaborated.get(key)[0] }} </h2>
                <p> {{ collaborated.get(key)[1]|safe }} </p>
            {% endfor %}
            
        <h1 id="Existing_stories">Existing Stories</h1>
        <!--Display stories that have not been edited by the user here-->
            {% for key in existing %}
                <div class="title_edit">
                    <h2> {{ existing.get(key)[0] }} </h2> 
                        <form action="/edit">
                            <button type="submit">edit</button>
                            <input type="hidden" name="story_id" value="{{key}}">
                        </form>
                </div>
                <p> {{ existing.get(key)[1]|safe }} </p> 
            {% endfor %}
    </body>
</html>