<!DOCTYPE html>

<html>
    <head>
        <title>HOME PAGE</title>
    </head>

    <body>
        <nav>
            <a href="index.html">Home</a>
            <a href="#Collaborated_on">You've Collaborated On</a>
            <a href="#Existing_stories">Existing Stories</a>
            <form action="/logout">
                <button type="submit">Logout</button>
            </form>
        </nav>
        <form>
            <a href="create.html"><button type="button">Add Story</button></a>
        </form>
        <h1 id="Collaborated_on">You've Collaborated On</h1>
        <!--Display stories that have been edited by this specific user here-->
        <h1 id="Existing_stories">Existing Stories</h1>
        <!--Display stories that have not been edited by the user here-->
        <!--probably with a for loop like this     
            {% for item in collection %}
                {{ item }}
                <br>
            {% endfor %}
        -->
    </body>
</html>