<!DOCTYPE html>

<html>

  <head>
    <title> REGISTER PAGE </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
  </head>

  <body>
    <h3>
      Register
    </h3>
    <form action="/register" method="POST"> <!--make sure action is correct-->
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <input type="text" name="Password_confirm" placeholder="Confirm Password">
      <input type="submit" name="sub1">
    </form>
    <p>{{response}}</p>
  </body>
</html>